
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<title>Menu</title>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">

<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css" href="<?php echo base_url();?>public/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="<?php echo base_url();?>public/assets/css/menu.css">
</head>

<body role="document">

<!--Header Top Start-->
<div class="col-md-8 col-md-offset-2">
  <div class="menu_area2">
    <div class="headline1">
      <h4>FENICIA ALCOHOL MENU</h4>
    </div>
    <div class="menu_sec">
    	<div class="sub_head"><h4>BEER</h4></div>
    	<ul class="menu_list">
					
					<li>
						<span class="name_txt"><h5><a href=""> </a></h5>
						<p></p></span>
						
						<span class="price">PRICE</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Corona extra 330ml  </a></h5>
						</span>
						
						<span class="price">700.00</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Original Bira 91 Blonde Beer   </a></h5>
						</span>
						
						<span class="price">600.00</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Original Bira 91 White Beer </a></h5>
						</span>
						
						<span class="price">600.00</span>
					</li>
					
					<li>
						<span class="name_txt"><h5><a href="">Simba Wit Belgian-Style Witbier </a></h5>
						</span>
						
						<span class="price">600.00</span>
					</li>
					
					<li>
						<span class="name_txt"><h5><a href="">Budweiser Can 500 ml </a></h5>
						</span>
						
						<span class="price">650.00</span>
					</li>
            
            <li>
						<span class="name_txt"><h5><a href="">Budweiser</a></h5>
						</span>
						
						<span class="price">550.00</span>
					</li>
             <li>
						<span class="name_txt"><h5><a href="">Simba Wit Belgian-Style Witbier</a></h5>
						</span>
						
						<span class="price">550.00</span>
					</li>
					
	  </ul>
    	<div class="sub_head"><h4>ALCOPOPS</h4></div>
    	<ul class="menu_list">
				<li>
						<span class="name_txt"><h5><a href=""> </a></h5>
						<p></p></span>
						
						<span class="price">PRICE</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Breezer cranberry </a></h5>
						</span>
						
						<span class="price">450.00</span>
					</li>	
            <li>
						<span class="name_txt"><h5><a href="">Breezer Jamaican passion  </a></h5>
						</span>
						
						<span class="price">450.00</span>
					</li>	
            <li>
						<span class="name_txt"><h5><a href="">Breezer blueberry</a></h5>
						</span>
						
						<span class="price">450.00</span>
					</li>	
            <li>
						<span class="name_txt"><h5><a href="">Breezer orange  </a></h5>
						</span>
						
						<span class="price">450.00</span>
					</li>	
				
	  </ul>
    	<div class="sub_head"><h4>WINES</h4></div>
    	<ul class="menu_list">
					<li>
						<span class="name_txt"><h5><a href="">Red Wine</a></h5>
						<p></p></span>
						
						<span class="price">PRICE</span>
					</li>
					
					<li>
						<span class="name_txt"><h5><a href="">Chateau Haut Batailley Pauillac France </a></h5>
						<p>Expressive and perfumed for Pauillac with graphite, cedar, cherry and some lingering cassis/currant notes.Palate: Lighter bodied as one might expect at this age, but good balance held by the high acidity and surprising structure of the wine. </p></span>
						
						<span class="price">45000.00</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Chateau Lanessan Haut Medoc France </a></h5>
						<p>With a dark hue, the wine combines wet earth, forest leaf, cocoa, dark red fruits and tobacco to create the nose.On the palate, the wine is round, full-bodied and loaded with sweet, dark red fruits and freshness</p></span>
						
						<span class="price">14000.00</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">“Cortevecchia” Chianti reserve DOCG 2012 Tuscany Italy  </a></h5>
						<p>Transparent ruby and bright, with notes of lavender and cherry, rosehip and pomegranate, has a light dry flower layer.A dynamic vibration of red orange opens the vital sip with its classic tannin designed by an austere but fresh grip. The long finish is tasty and elegant with notes of aromatic herbs, black cherries, mint and licorice root.</p></span>
						
						<span class="price">14000.00</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Folonari Valpolicella Italy  </a></h5>
						<p>Pale ruby red color. Fresh and fruity bouquet. Taste is light and refreshing, pleasantly fruity.</p></span>
						
						<span class="price">6000.00</span>
					</li>
            <li>
						<span class="name_txt"><h5><a href="">Folonari Chianti Italy  </a></h5>
						<p>Wild berry and violet aromas lead the nose while the straightforward palate offers crushed raspberry,Marasca cherry and a hint of clove. It's light-bodied and easy drinking, with soft tannins. Drink soon.</p></span>
						
						<span class="price">5000.00</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Folonari Montepulciano D’ Abruzzo Italy</a></h5>
						<p>Black fruit notes, tart blackberries, maybe a little bit of cherry at the end. Dry and earthy.</p></span>
						
						<span class="price">4000.00</span>
					</li>
            <li>
						<span class="name_txt"><h5><a href="">Soledoro sangiovesse rubicone Italy  </a></h5>
						<p>Crisp, dry and fruity, with a delicate nutty aroma. Young and fresh</p></span>
						
						<span class="price">3500.00</span>
					</li>
            <li>
                <span class="name_txt"><h5><a href="">Folonari Nero D’ Avola Italy </a></h5>
						<p>A ruby red color with hints of ripe fruit on the nose. The flavor is harmonious and intense.</p></span>
						
						<span class="price">5000.00</span>
					</li>
            <li>
                <span class="name_txt"><h5><a href="">Antares Shiraz Chile </a></h5>
						<p>Shiraz is bright and intense in its appearance with ruby red and purple colors. It shows aromas of black fruitslike ripe blackberries and blueberries, combined with tasty notes from the oak ageing. On the palate thewine is soft, with ripe tannins</p></span>
						
						<span class="price">3500.00</span>
					</li>
             <li>
                <span class="name_txt"><h5><a href="">Antares Cabernet Sauvignon Chile </a></h5>
						<p>intense aromas of red fruit such as raspberries and cherries, showing its expressive varietalcharacter combined with delicate notes of cinnamon and cocoa.</p></span>
						
						<span class="price">3500.00</span>
					</li>
            <li>
                <span class="name_txt"><h5><a href="">Torres Sangre De Toro Spain  </a></h5>
						<p>Deep cherry red. Rich aroma of dark berries (wild blackberries) with ripe (dried plums) and toasted (roasted coffee)notes. An intense, warm, succulent palate with an echo of licorice on the finish.</p></span>
						
						<span class="price">7500.00</span>
					</li>
            <li>
                <span class="name_txt"><h5><a href="">Antares Shiraz Glass</a></h5></span>
						
						<span class="price">800.00</span>
					</li>
             <li>
                <span class="name_txt"><h5><a href="">Torres Sangre De Toro Glass</a></h5></span>
						
						<span class="price">900.00</span>
					</li>
					
	  </ul>
    	<div class="sub_head"><h4>WHITE WINE</h4></div>
    	<ul class="menu_list">
            <li>
						<span class="name_txt"><h5><a href=""></a></h5>
						<p></p></span>
						
						<span class="price">PRICE</span>
					</li>
					  <li>
                <span class="name_txt"><h5><a href="">Folonari Trebbiano D’ Abruzzo Italy</a></h5>
						<p>The wine has a pale yellow color. The aroma of wine is characterized by notes of dried fruit - apricots, apples and pears. </p></span>
						
						<span class="price">4000.00</span>
					</li>
             <li>
                <span class="name_txt"><h5><a href="">Torres Vina Sol Spain</a></h5>
						<p>Nose Medium-intensity, clean and fresh nose, in which white fruits with pit, green apple, peach and certaintropical notes are noticed. Taste In the mouth, this white wine has a fresh attack and light and fruity mid-palatemarked by a correct acidity and subtle final bitter notes. </p></span>
						
						<span class="price">4000.00</span>
					</li>
             <li>
                <span class="name_txt"><h5><a href="">Antares Sauvignon Blanc Chile </a></h5>
						<p>Pale lemon yellow with greenish highlights, this Sauvignon Blanc is a fresh wine. It offers aromas of melonand pineapple with refreshing citrus notes of lime and grapefruit. The palate is soft and fruity with a mediumbody and a well balanced acidity. </p></span>
						
						<span class="price">3500.00</span>
					</li>
            <li>
                <span class="name_txt"><h5><a href="">Antares Chardonnay Chile  </a></h5>
						<p>Our pale yellow Antares Chardonnay stands out for the intensity of its aromas of tropical fruits and apples.The acidity is well-balanced on the palate and the overall result is light, fresh, crisp and fruity. </p></span>
						
						<span class="price">3500.00</span>
					</li>
            <li>
                <span class="name_txt"><h5><a href="">Antares Chardonnay Glass </a></h5></span>
						
						<span class="price">800.00</span>
					</li>
            <li>
                <span class="name_txt"><h5><a href="">Antares Sauvignon Blanc Glass </a></h5></span>
						
						<span class="price">800.00</span>
					</li>
            <li>
                <span class="name_txt"><h5><a href="">Torres Vina Sol Glass</a></h5></span>
						
						<span class="price">900.00</span>
					</li>
            <li>
						<span class="name_txt"><h3>Sake</h3>
						</span>
						
					</li>
            <li>
                <span class="name_txt"><h5><a href="">Hokkan Kacho Fugetsu </a></h5></span>
						
						<span class="price">4000.00</span>
					</li>
	  </ul>
    	<div class="sub_head"><h4>CHAMPAGNE & SPARKLING</h4></div>
    	<ul class="menu_list">
					
					<li>
						<span class="name_txt"><h5><a href=""> </a></h5>
						<p></p></span>
						
						<span class="price">PRICE</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Dom Perignon Cuvee Champagne  </a></h5>
						<p>Dom is always a blend of Chardonnay and Pinot Noir. In its youth, it is smooth, creamy and balancedwith lots of fruit. With time, it develops toasty mushroom aromas and layers of complexity. It really is impressive Champagne.</p></span>
						
						<span class="price">60000.00</span>
					</li>
					
					<li>
						<span class="name_txt"><h5><a href="">Moet & Chandon Rose Imperial </a></h5>
						<p>A lively, intense bouquet of red fruits (wild strawberry, raspberry and cherry)Floral nuances of rose with slight hint of pepper</p></span>
						
						<span class="price">25000.00</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Moet & Chandon Imperial  </a></h5>
						<p>The vibrant intensity of green apple and citrus freshness of mineral nuances and white flowersthe elegance of blonde notes (brioche, cereals, fresh nuts)</p></span>
						
						<span class="price">17500.00</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Martini Prosseco  </a></h5>
						<p>Aroma of Pear fruit, quince and elderflower With tasting notes of Dry with apple and pear withfaint honeyed sweetness and overripe peach.</p></span>
						
						<span class="price">8000.00</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Chandon Brut  </a></h5>
						<p>Crisp, fresh and effortlessly cool, Chandon Brut is your go-to choice bubbly for entertaining, sipping and gifting.A classic expression of our California vineyards, signature green apple, pear and citrus notes precede a soft, dry finish.</p></span>
						
						<span class="price">5000.00</span>
					</li>
            <li>
						<span class="name_txt"><h5><a href="">Chandon Rose </a></h5>
						<p>Dry Sparkling Rosé reveals a gorgeous shade of pink in the glass with aromas of fresh strawberry,watermelon and cherry that proceed through the palate and finish.</p></span>
						
						<span class="price">5000.00</span>
					</li>
					
	  </ul>
    	<div class="sub_head"><h4>SINGLE MALT</h4></div>
    	<ul class="menu_list">
					
					
					<li>
						<span class="name_txt"><h5><a href=""> </a></h5>
						<p></p></span>
						
						<span class="price">PRICE</span>
					</li>
					<li>
                <span class="name_txt"><h5><a href="">The Glenlivet 18 Years Old Single Malt Scotch whisky </a></h5></span>
						<span class="price">1800.00</span>
					</li>
            <li>
                <span class="name_txt"><h5><a href="">Glenfiddich 18 Years Old Single Malt Scotch whisky    </a></h5></span>
						<span class="price">1750.00</span>
					</li>
             <li>
                <span class="name_txt"><h5><a href="">Lagavulin 16 Years Old Islay Single Malt Scotch whisky   </a></h5></span>
						<span class="price">1400.00</span>
					</li>
             <li>
                <span class="name_txt"><h5><a href="">Glenfiddich 15 Years Old Single Malt Scotch whisky     </a></h5></span>
						<span class="price">1250.00</span>
					</li>
             <li>
                <span class="name_txt"><h5><a href="">The Glenlivet 15 Years Old Single Malt Scotch whisky   </a></h5></span>
						<span class="price">1250.00</span>
					</li>
             <li>
                <span class="name_txt"><h5><a href="">Akashi Red Blended Whisky </a></h5></span>
						<span class="price">1000.00</span>
					</li>
             <li>
                <span class="name_txt"><h5><a href="">Glenkinchie 12 Years Old Single Malt Scotch Whisky </a></h5></span>
						<span class="price">1000.00</span>
					</li>
             <li>
                <span class="name_txt"><h5><a href="">Balvenie Single Malt Scotch Whisky 12 Years Old </a></h5></span>
						<span class="price">1000.00</span>
					</li>
            <li>
                <span class="name_txt"><h5><a href="">Glenmorangie 10 Years Old </a></h5></span>
						<span class="price">1000.00</span>
					</li>
            <li>
                <span class="name_txt"><h5><a href="">Monkey Shoulder single grain whisky  </a></h5></span>
						<span class="price">1000.00</span>
					</li>
            <li>
                <span class="name_txt"><h5><a href="">Cynelish 14 Years Old Single Malt Scotch whisky  </a></h5></span>
						<span class="price">900.00</span>
					</li>
            <li>
                <span class="name_txt"><h5><a href="">Laphroaig Islay Single Malt Scotch whisky 10 Years Old </a></h5></span>
						<span class="price">900.00</span>
					</li>
            <li>
                <span class="name_txt"><h5><a href="">Talisker 10 Years Old Single Malt Scotch whisky  </a></h5></span>
						<span class="price">900.00</span>
					</li>
             <li>
                <span class="name_txt"><h5><a href="">Paul John Bold   </a></h5></span>
						<span class="price">800.00</span>
					</li>
             <li>
                <span class="name_txt"><h5><a href="">Amrut Fusion  </a></h5></span>
						<span class="price">800.00</span>
					</li>
             <li>
                <span class="name_txt"><h5><a href="">Caol Ila 12 Years Old Islay Single Malt Scotch Whisky      </a></h5></span>
						<span class="price">800.00</span>
					</li>
             <li>
                <span class="name_txt"><h5><a href="">Cragganmore 12 Years Old     </a></h5></span>
						<span class="price">800.00</span>
					</li>
             <li>
                <span class="name_txt"><h5><a href="">The Glenlivet 12 Years Old Single Malt Scotch whisky     </a></h5></span>
						<span class="price">800.00</span>
					</li>
             <li>
                <span class="name_txt"><h5><a href="">Glenfiddich 12 Years Old Single Malt Scotch whisky      </a></h5></span>
						<span class="price">800.00</span>
					</li>
            
             <li>
                <span class="name_txt"><h5><a href="">Oban 14 Years Old   </a></h5></span>
						<span class="price">800.00</span>
					</li>
            <li>
                <span class="name_txt"><h5><a href="">Paul John Brilliance </a></h5></span>
						<span class="price">700.00</span>
					</li>
             <li>
                <span class="name_txt"><h5><a href="">Amrut Amalgam Malt    </a></h5></span>
						<span class="price">700.00</span>
					</li>
             <li>
                <span class="name_txt"><h5><a href="">Paul John Nirvana</a></h5></span>
						<span class="price">650.00</span>
					</li>
					
	  </ul>
   	
   	
   	
   	
    	<div class="sub_head"><h4>BLENDED SCOTCH</h4></div>
    	<ul class="menu_list">
					
					
					<li>
						<span class="name_txt"><h5><a href=""> </a></h5>
						<p></p></span>
						
						<span class="price">PRICE</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Johnnie Walker Blue Label Blended Scotch whisky </a></h5>
						<p></p></span>
						
						<span class="price">3000.00</span>
					</li>
            <li>
						<span class="name_txt"><h5><a href="">Chivas Regal 18Yrs </a></h5>
						<p></p></span>
						
						<span class="price">1650.00</span>
					</li>
            <li>
						<span class="name_txt"><h5><a href="">Chivas Regal 15Yrs  </a></h5>
						<p></p></span>
						
						<span class="price">1000.00</span>
					</li>
            <li>
						<span class="name_txt"><h5><a href="">Dewars 12 Years Old</a></h5>
						<p></p></span>
						
						<span class="price">700.00</span>
					</li>
             <li>
						<span class="name_txt"><h5><a href="">Johnnie Walker Black Label Blended Scotch whisky</a></h5>
						<p></p></span>
						
						<span class="price">700.00</span>
					</li>
             <li>
						<span class="name_txt"><h5><a href="">Chivas Regal 12 Years Old Blended Scotch whisky</a></h5>
						<p></p></span>
						
						<span class="price">700.00</span>
					</li>
             <li>
						<span class="name_txt"><h5><a href="">Ballantines Finest Blended Scotch</a></h5>
						<p></p></span>
						
						<span class="price">500.00</span>
					</li>
             <li>
						<span class="name_txt"><h5><a href="">J & B Rare Old Blended Scotch whisky   </a></h5>
						<p></p></span>
						
						<span class="price">500.00</span>
					</li>
            
	  </ul>
   	
    	<div class="sub_head"><h4>IRISH</h4></div>
    	<ul class="menu_list">
					
					
					<li>
						<span class="name_txt"><h5><a href=""> </a></h5>
						<p></p></span>
						
						<span class="price">PRICE</span>
					</li>
					
					<li>
						<span class="name_txt"><h5><a href="">Jameson Irish whiskey  </a></h5>
						<p></p></span>
						
						<span class="price">550.00</span>
					</li>
					
	  </ul>
     	<div class="sub_head"><h4>TENNESSEE</h4></div>
    	<ul class="menu_list">
					<li>
						<span class="name_txt"><h5><a href=""> </a></h5>
						<p></p></span>
						
						<span class="price">PRICE</span>
					</li>
					
					<li>
						<span class="name_txt"><h5><a href="">Jack Daniels No.7 Tennessee Whiskey </a></h5>
						<p></p></span>
						
						<span class="price">700.00</span>
					</li>
					
	  </ul>
        	<div class="sub_head"><h4>BOURBON</h4></div>
    	<ul class="menu_list">
					<li>
						<span class="name_txt"><h5><a href=""> </a></h5>
						<p></p></span>
						
						<span class="price">PRICE</span>
					</li>
					
					<li>
						<span class="name_txt"><h5><a href="">Makers Mark Kentucky Straight Bourbon Whiskey </a></h5>
						<p></p></span>
						
						<span class="price">750.00</span>
					</li>
            	<li>
						<span class="name_txt"><h5><a href="">Jim Beam Bourbon Kentucky Straight Bourbon Whiskey   </a></h5>
						<p></p></span>
						
						<span class="price">550.00</span>
					</li>
					
	  </ul>
   	
    	<div class="sub_head"><h4>VODKA</h4></div>
    	<ul class="menu_list">
					
					
					<li>
						<span class="name_txt"><h5><a href=""> </a></h5>
						<p></p></span>
						
						<span class="price">PRICE</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Grey Goose Vx</a></h5>
						<p></p></span>
						
						<span class="price">2000.00</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href=""> Beluga Noble Vodka </a></h5>
						<p></p></span>
						
						<span class="price">1000.00</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href=""> Belvedere Vodka </a></h5>
						<p></p></span>
						
						<span class="price">800.00</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Ciroc Snap Frost Vodka</a></h5>
						<p></p></span>
						
						<span class="price">800.00</span>
					</li>
            <li>
						<span class="name_txt"><h5><a href="">Kremlin Award</a></h5>
						<p></p></span>
						
						<span class="price">800.00</span>
					</li>
            <li>
						<span class="name_txt"><h5><a href="">Grey Goose Vodka </a></h5>
						<p></p></span>
						
						<span class="price">750.00</span>
					</li>
            <li>
						<span class="name_txt"><h5><a href="">Absolut Vodka   </a></h5>
						<p></p></span>
						<span class="price">550.00</span>
					</li>
              <li>
						<span class="name_txt"><h5><a href="">Ketel One Vodka   </a></h5>
						<p></p></span>
						<span class="price">550.00</span>
					</li>
              
             
    	<div class="sub_head"><h4>RUM</h4></div>
    	<ul class="menu_list">
					
					
					<li>
						<span class="name_txt"><h5><a href=""> </a></h5>
						<p></p></span>
						
						<span class="price">PRICE</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Bacardi Reserva ocho Aged 8 Years</a></h5>
						<p></p></span>
						
						<span class="price"> 600.00</span>
					</li>
            <li>
						<span class="name_txt"><h5><a href="">Bacardi Carta Bianca  </a></h5>
						<p></p></span>
						
						<span class="price"> 350.00</span>
					</li>
            <li>
						<span class="name_txt"><h5><a href="">Old Monk </a></h5>
						<p></p></span>
						
						<span class="price"> 300.00</span>
					</li>
            <li>
						<span class="name_txt"><h5><a href="">Captain Morgan Spiced Rum  </a></h5>
						<p></p></span>
						
						<span class="price"> 300.00</span>
					</li>
	  </ul>
    	<div class="sub_head"><h4>GIN</h4></div>
    	<ul class="menu_list">
					<li>
						<span class="name_txt"><h5><a href=""> </a></h5>
						<p></p></span>
						
						<span class="price">PRICE</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Monkey 47 Schwarzwald Dry Gin </a></h5></span>
						<span class="price">1050.00</span>
					</li>
            <li>
						<span class="name_txt"><h5><a href="">Jodhpur Gin </a></h5></span>
						<span class="price">900.00</span>
					</li>
            <li>
						<span class="name_txt"><h5><a href="">Tanquerary No Ten Distilled Gin</a></h5></span>
						<span class="price">900.00</span>
					</li>
            <li>
						<span class="name_txt"><h5><a href="">Hendricks Gin</a></h5></span>
						<span class="price">850.00</span>
					</li>
            <li>
						<span class="name_txt"><h5><a href="">Bombay Sapphire Distilled London Dry Gin  </a></h5></span>
						<span class="price">650.00</span>
					</li>
             <li>
						<span class="name_txt"><h5><a href="">Gordons London Dry Gin  </a></h5></span>
						<span class="price">600.00</span>
					</li>
             <li>
						<span class="name_txt"><h5><a href="">Beefeater London Dry Gin </a></h5></span>
						<span class="price">550.00</span>
					</li>
             <li>
						<span class="name_txt"><h5><a href="">Greater Than </a></h5></span>
						<span class="price">500.00</span>
					</li>
	  </ul>
            
            <div class="sub_head"><h4>TEQUILA</h4></div>
    	<ul class="menu_list">
					<li>
						<span class="name_txt"><h5><a href=""> </a></h5>
						<p></p></span>
						
						<span class="price">PRICE</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Patron Silver Tequila</a></h5></span>
						<span class="price">1500.00</span>
					</li>
            <li>
						<span class="name_txt"><h5><a href="">Corralejo Blanco Tequila</a></h5></span>
						<span class="price">1250.00</span>
					</li>
            <li>
						<span class="name_txt"><h5><a href="">La Chica Tequila Blanco</a></h5></span>
						<span class="price">550.00</span>
					</li>
            <li>
						<span class="name_txt"><h5><a href="">La Chica Tequila Gold </a></h5></span>
						<span class="price">550.00</span>
					</li>
	  </ul>
            
             <div class="sub_head"><h4>COGNAC</h4></div>
    	<ul class="menu_list">
					<li>
						<span class="name_txt"><h5><a href=""> </a></h5>
						<p></p></span>
						<span class="price">PRICE</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Hennessy Vs Cognac  </a></h5></span>
						<span class="price">800.00</span>
					</li>
           
	  </ul>
            
            <div class="sub_head"><h4>APÉRITIF</h4></div>
    	<ul class="menu_list">
					<li>
						<span class="name_txt"><h5><a href=""> </a></h5>
						<p></p></span>
						<span class="price">PRICE</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Campari Bitter </a></h5></span>
						<span class="price">600.00</span>
					</li>
            <li>
						<span class="name_txt"><h5><a href="">Martini Rosso </a></h5></span>
						<span class="price">500.00</span>
					</li>
            <li>
						<span class="name_txt"><h5><a href="">Campari Bitter </a></h5></span>
						<span class="price">500.00</span>
					</li>
           
	  </ul>
            
             <div class="sub_head"><h4>LIQUER</h4></div>
    	<ul class="menu_list">
					<li>
						<span class="name_txt"><h5><a href=""> </a></h5>
						<p></p></span>
						<span class="price">PRICE</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Patron Xo Cafe </a></h5></span>
						<span class="price">900.00</span>
					</li>
            <li>
						<span class="name_txt"><h5><a href="">Jagermeister</a></h5></span>
						<span class="price">750.00</span>
					</li>
            <li>
						<span class="name_txt"><h5><a href="">Baileys The Original Irish Cream  </a></h5></span>
						<span class="price">600.00</span>
					</li>
             <li>
						<span class="name_txt"><h5><a href="">Antica Sambuca Classic </a></h5></span>
						<span class="price">550.00</span>
					</li>
           
	  </ul>
            
            <div class="sub_head"><h4>FENICIA SIGNATURE COCKTAIL MENU</h4></div>
            <br>
    	<ul class="menu_list">
					<li>
						<span class="name_txt"><h5><a href="">From The Mixologist Table  </a></h5><p>Being a Mixologist experimenting with ingredients is an integral part of our life. We infuse, cook, blend, brew and mix all of it to make perfect drink that would bring smile on your face. And we create magic with our hands to tickle your 5 senses. We have carefullyselected the ingredients from all around the globe. We request you to select the flavor of your choice and your preferred spiritand leave the rest to us. Cheers ....!!</p>
                        </span>
					</li>
           
	  </ul>
            <div class="center_box">
                <h3>Choose your preferred spirit <span>Standard Measure for cocktails is 60 ml</span></h3>
                <br>
                <h3>DIAMOND<br>@ 2700</h3>
                </div>
            <ul class="menu_li">
                    <li>Whiskey</li>
                    <li>Chivas 18 / Makers Mark</li>
                </ul>
            <ul class="menu_li">
                    <li>Vodka  </li>
                    <li>Grey Goose VX</li>
                </ul>
            <ul class="menu_li">
                    <li>Tequilla</li>
                    <li>Corralejo blanco</li>
                </ul>
            
            <div class="center_box">
                <br>
                <h3>PLATINUM<br>@ 1800</h3>
                </div>
            <ul class="menu_li">
                    <li>Whiskey  </li>
                    <li>Glenfiddich 12 / The Glenlivet </li>
                </ul>
            <ul class="menu_li">
                    <li>Vodka  </li>
                    <li>Beluga </li>
                </ul>
            <ul class="menu_li">
                    <li>Gin</li>
                    <li> Monkey 47</li>
                </ul>
              <ul class="menu_li">
                    <li>Cognac</li>
                    <li>Remy Martin V.S</li>
                </ul>
            <ul class="menu_li">
                    <li>Tequila </li>
                    <li>Corralejo blanco</li>
                </ul>
            
             <div class="center_box">
                <br>
                <h3>GOLD<br>@ 1400</h3>
                </div>
            <ul class="menu_li">
                    <li>Whiskey  </li>
                    <li>Black Label / Chivas 12 / Jack Daniels / Monkey Shoulder</li>
                </ul>
            <ul class="menu_li">
                    <li>Vodka  </li>
                    <li>  Grey Goose / Ciroc / Belvedere / Kremlin Award / Absolut ELYX </li>
                </ul>
            <ul class="menu_li">
                    <li>Gin</li>
                    <li>  Hendricks / Jodhpur / Tanqueray 10</li>
                </ul>
              <ul class="menu_li">
                    <li>Rum  </li>
                    <li>Bacardi 8 Y.O</li>
                </ul>
            <ul class="menu_li">
                    <li>Tequila </li>
                    <li>Patron Silver</li>
                </ul>
             <ul class="menu_li">
                    <li>Cognac  </li>
                    <li> Hennessey  V.S</li>
                </ul>
            
             <div class="center_box">
                <br>
                <h3>SILVER<br>@ 850</h3>
                </div>
            <ul class="menu_li">
                    <li>Whiskey  </li>
                    <li>Ballentines / J& B Rare / Jim Beam / Jameson</li>
                </ul>
            <ul class="menu_li">
                    <li>Vodka  </li>
                    <li> Absolut  / Ketel One</li>
                </ul>
            <ul class="menu_li">
                    <li>Gin</li>
                    <li> Greater Than / Beefeater</li>
                </ul>
              <ul class="menu_li">
                    <li>Rum  </li>
                    <li> Bacardi  Ron Carta Blanca</li>
                </ul>
            <ul class="menu_li">
                    <li>Tequila </li>
                    <li>La Chica Silver</li>
                </ul>
            <div class="exotic">
                <h3>Exotic Ananas</h3>
                <p>Pineapple saffron and Basil</p>
                <p>Cold Press Pineapple juice with basil and with few strands of saffron for tannic finish</p>
                <p>COLOR: Yellow</p>
                <p>TEXTURE: Silky sweet and Tannic</p>
                <p>Mixology Composition: - Fruit, floral and herb</p>
                <p>TASTE: Sweet natural fruit sugar extracted </p>
                <p>Pallet: A tinch of sweetness with refreshing after taste of basil and tannic finish </p>
            </div>
            <div class="reco">
                <h4>Recommended with<span>Whiskey  Rum Vodka Gin</span></h4>
                 <h4>Nutritional Benefits:</h4>
                <h4>Pineapples <span>Contains high amounts of vitamin C and manganese</span></h4>
                <h4>Basil  <span>Contains fiber, </span></h4>
                <h5>Saffron<br> Contains several plant-derived chemical compounds that are known to have been<br> antioxidant, disease preventing, and health promoting properties</h5>
            </div>
            <div class="exotic">
                <h3>Smokey Angel</h3>
                <p>Hibiscus With Vanilla Pods and Red Plum Reduction </p>
                <p>Brewed dried hibiscus flower cooked with vanilla extract and fresh plum.</p>
                <p>Cocktail served with pinewood smoke </p>
                <p>COLOR: Blood Red</p>
                <p>Texture:  Chewy and Light</p>
                <p>Mixology Composition: - Floral, spice and fruit</p>
                <p>Pallet: Tangy and sweet</p>
                <p><strong>Taste</strong> Smokey aftertaste with tanginess of plums and Egyptian hibiscus pairedwith sweet vanilla notes  </p>
            </div>
            <div class="reco">
                <h4>Recommended with<span>Whiskey Rum Vodka Cognac</span></h4>
                 <h4>Nutritional Benefits:</h4>
                <p><strong>Vanilla Pods </strong><br>The health benefits of hibiscus include its ability to treat high blood pressure and highcholesterol, disturbed digestive and immune system, inflammatory problems and liver diseases,as well as cancer. It can also speed up the metabolism and help in healthy, gradual weight loss.It is rich in vitamin C, minerals, and antioxidants and helps in the treatmentof hypertension and anxiety.</p>
                <p><strong>Hibiscus </strong><br>Vanilla beans have antioxidants that help prevent cell and tissue breakdown,stimulate the body’s natural re growth and eliminate free radicals. The antioxidantsalso shield the immune system, decrease body stress and encourage faster recoveryfrom injuries or illnesses.</p>
                <p><strong>Plum </strong><br>They contain many vitamins and minerals, in addition to fiber and antioxidants thatmay help reduce your risk of several chronic diseases. You can consume plums fresh or dried</p>
               
            </div>
            <div class="exotic">
                <h3>Kolkata Tangerinet</h3>
                <p>Cold press green apple juice spiked with gondhoraj (Lime) and aamadha (Mango Ginger)</p>
                <p>(local produce)    COLOR:- Amber Green</p>
                <p>Texture: Light and Silky </p>
                <p>Mixology Composition: - Vegetable and fruit</p>
                <p>Pallet: - Very Tangy and Sweet mango flavor with refreshing lime notes</p>
            </div>
            <div class="reco">
                <h4>Recommended with<span>Whiskey Rum Vodka Gin  Tequila</span></h4>
                 <h4>Nutritional Benefits:</h4>
                <p><strong>Green Apple </strong><br>Green apples have low fat content and help in maintaining good blood flow in the body.Improved circulation can prevent heart diseases and strokes. Green apples are alsorich in vitamin K, which gives them the ability to heal blood clots.</p>
                <p><strong>Mango ginger </strong><br>Mango Ginger is a powerful antimicrobial and antioxidant. So it is used to treat skinissues. It helps to detoxify the body and improve skin complexion get rid of acne andother skin problems. It is also used in various cosmetics and skin care products.</p>
            </div>
            <div class="exotic">
                <h3>Daring Tea</h3>
                <p>Brewed Darjeeling tea with local spices like cinnamon, cardamom, raw gingerand fresh basil with honey </p>
                <p>COLOR:- Pale Amber</p>
                <p>Texture: Smooth and cold spices</p>
                <p>Mixology Composition: - Tea leaf, spices, vegetable and herb</p>
                <p>Pallet: - Refreshing notes of all spices </p>
                <p>Tasting Note: - Mélange of spices and fresh basil after taste</p>
            </div>
     <div class="reco">
                <h4>Recommended with<span>Whiskey Rum Vodka Gin Tequila</span></h4>
                 <h4>Nutritional Benefits:</h4>
                <p><strong>Darjeeling Tea </strong><br>Darjeeling tea is rich in two complex antioxidants called thea flavins and thea rubigins.hese antioxidants help neutralize harmful free radicals, and potentially reduce free radicaldamage that can target cell membranes and DNA.</p>
                <p><strong>Cinnamon </strong><br>A little bit of cinnamon goes a long way, and its antioxidant properties are what make it especiallybeneficial to include in your diet. As little as half a teaspoon of cinnamon daily canhave positive effects on blood sugar levels, digestion, immunity and more. However, stronger doses are also extremely beneficial for improving Heart disease risk and cuttingyour risk of diabetes, cancer and neurodegenerative diseases.</p>
         <p><strong>Cardamom </strong><br>Help with Digestive Problems, Including Ulcers. Cardamomhas been used for thousands ofyears to help with digestion. It's often mixed with other medicinal spices to relieve discomfort,nausea and vomiting</p>
          <p><strong>Basil  </strong><br>Ease inflammation and joint pain. Imagine being able to tackle stress, anxiety, and inflammaton with a relaxing cup of tea made with the leaves of holy basil. As an adaptogen withanti-inflammatory and antioxidant properties, holy basil provides all of these benefits.adaptogen with anti-inflammatory and antioxidantproperties, holy basil provides all of these benefits.</p>
            </div>
             <div class="exotic">
                <h3>Angelus Share</h3>
                <p>Cold pressed Red Apple, Spinach and Basil juice mixed in a perfect ratio</p>
                <p>COLOR:- Bottle Green</p>
                <p>Texture: Crunchy and crisp</p>
                <p>Mixology Composition: -Fruit, leafy vegetable and herb</p>
                <p>PALLET: Refreshing with aftertaste of basil and sweetness from red apple </p>
                <p>Taste: - Freshness of apple juice paired with spinach and basil </p>
            </div>
             <div class="reco">
                <h4>Recommended with<span>Whiskey Rum Vodka Gin</span></h4>
                 <h4>Nutritional Benefits:</h4>
                <p><strong>Apple</strong><br>The apple is a highly nutritive food. It contains minerals and vitamins in abundance.The food value of the apple is chiefly constituted by its contents of sugar which rangesfrom 9 to 51 per cent. Of this, fruit sugar constitutes 60 per cent and glucose 25 petcent and cane sugar only 15 per cent.</p>
                <p><strong>Spinach  </strong><br>Spinach also contains several other vitamins and minerals, such as potassium, magnesium, and vitamins B6, B9 and E. Bottom Line: Spinach is an extremely nutrient-rich vegetable.It contains high amounts of carotenoids, vitamin C, vitamin K, folic acid, iron and calcium.</p>
         <p><strong>Basil  </strong><br>Ease inflammation and joint pain. Imagine being able to tackle stress, anxiety, andinflammation with a relaxing cup of tea made with the leaves of holy basil. As anadaptogen with anti-inflammatory and antioxidant properties, holy basil providesall of these benefits.</p>
            </div>
             <div class="exotic">
                <h3>Rouge Angel</h3>
                <p>Cold press Beetroot and Curry leaf spiked with Star anise</p>
                <p>COLOR: - Red</p>
                <p>Texture: Chewy</p>
                <p>Mixology Composition: - Vegetable, Herb and Spice</p>
                <p>PALLET: - Earthy flavors of beetroot paired with curry leaf with sweet star anise after taste</p>
                <p>Tasting Note: - Earthy flavored beetroot paired with strong curry leaf and star anise after taste </p>
            </div>
            <div class="reco">
                <h4>Recommended with<span>Whiskey Rum Vodka Gin Tequila </span></h4>
                 <h4>Nutritional Benefits:</h4>
                <p><strong>Beetroot </strong><br>A cup of beet juice is usually around 100 calories and 25 grams of carbohydrates,because of the way it is processed. Beets are good sources of foliate, potassium,vitamin C, fiber, and antioxidants, as well as nitrates.</p>
                <p>Curry Leaf Curry leaves are herbs that are known to have essential nutrients thathelp in conditions like weight loss, blood pressure, indigestion, anemia, diabetes, acne, hair loss.</p>
                <p><strong>Star Anise   </strong><br>Star anise is rich in antioxidants and vitamin A and C, which help fight free radicalsthat are responsible for early ageing and diabetes. The oil produced from star anisecontains thymol, terpineol and anethole, which is used for treating cough and flu.</p>
            </div>
            <div class="exotic">
                <h3>Orange Fairytale</h3>
                <p>Homemade orange Marmalade cooked with orange peel and pulp and cinnamonfinished with saffron </p>
                <p>COLOR :-  Bright Orange</p>
                <p>Texture: Thick and Tannic </p>
                <p>Mixology Composition: - Fruity , Spicy and Floral </p>
                <p>PALLETE: - Sweet and Citrus with Tannic after taste </p>
                <p>Tasting Note: - Refreshing orange taste with a tinch of bitterness and tannic after taste</p>
            </div>
            <div class="reco">
                
                 <h4>Nutritional Benefits:</h4>
                <p><strong>Orange  </strong><br>Oranges are a good source of several vitamins and minerals, especially vitamin C,thiamin, foliate and potassium. Vitamin C: Oranges are an excellent source of vitamin C.One large orange can provide over 100% of the daily recommended intake </p>
                 <p><strong>Orange Peel  </strong><br>Orange peel contains considerable amounts of calcium, copper, magnesium, vitamin A,foliate and other B vitamins and dietary fiber. They have an intense orange and bitter flavor,but the latter is often a clue that a food is healthy; the bitter taste is the result of the manyflavonoids that orange peels contain.</p>
                 <p><strong>Saffron   </strong><br>Contains several plant-derived chemical compounds that are known to have been antioxidant,disease preventing, and health promoting properties </p>
                <p><strong>Cinnamon    </strong><br>A little bit of cinnamon goes a long way, and its antioxidant properties are what makeit especially beneficial to include in your diet. As little as half a teaspoon of cinnamondaily can have positive effects on blood sugar levels, digestion, immunity and more.However, stronger doses are also extremely beneficial for improving heart disease risk andcutting your risk of diabetes, cancer and neurodegenerative diseases. </p>
                
            </div>
            <div class="sub_head"><h4>CLASSIC COCKTAIL</h4></div>
            <ul class="menu_list">
					<li>
						<span class="name_txt"><h5><a href=""> </a></h5>
						<p></p></span>
						
						<span class="price">PRICE</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Margarita </a></h5></span>
						<span class="price">950.00</span>
					</li>
            <li>
						<span class="name_txt"><h5><a href="">Cosmopolitan </a></h5></span>
						<span class="price">800.00</span>
					</li>
            <li>
						<span class="name_txt"><h5><a href="">Mojito</a></h5></span>
						<span class="price">800.00</span>
					</li>
            <li>
						<span class="name_txt"><h5><a href="">Gimlet  </a></h5></span>
						<span class="price">800.00</span>
					</li>
            <li>
						<span class="name_txt"><h5><a href="">Old Fashion  </a></h5></span>
						<span class="price">950.00</span>
					</li>
             <li>
						<span class="name_txt"><h5><a href="">Long Island Iced Tea </a></h5></span>
						<span class="price">1000.00</span>
					</li>
             <li>
						<span class="name_txt"><h5><a href="">Espresso Martini </a></h5></span>
						<span class="price">800.00</span>
					</li>
             <li>
						<span class="name_txt"><h5><a href="">Whiskey Sour</a></h5></span>
						<span class="price">950.00</span>
					</li>
                <li>
						<span class="name_txt"><h5><a href="">Negroni</a></h5></span>
						<span class="price">800.00</span>
					</li>
                <li>
						<span class="name_txt"><h5><a href="">Pinacolada </a></h5></span>
						<span class="price">800.00</span>
					</li>
	  </ul>
  </div>
</div>


</body>
</html>
