<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="<?php echo base_url();?>public/assets/img/favicon.ico">
<title>Finicia Menu</title>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">




<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css" href="<?php echo base_url();?>public/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="<?php echo base_url();?>public/assets/css/theme.css">
</head>

<body role="document">

	
	

<!--Header Top Start-->
<div class="col-md-6 col-md-offset-3">
		<div class="menu_area">
			<div class="first_page">
				<img src="<?php echo base_url();?>public/assets/img/front-page.jpg" alt="">
			</div>
			<div class="menu_txt_area">
				<div class="headline">
					<div class="line_up">&nbsp;</div>
				<h4>TAPAS AROUND THE WORLD</h4>
				<div class="line_down">&nbsp;</div>
				</div>
				
				<ul class="menu_list">
					<li>
						<span class="name_txt"><h5><a href="">Chongqing style prawns, cashew & chilli </a></h5>
						<p></p></span>
						<span class="tag"><img src="<?php echo base_url();?>public/assets/img/tag1.png" alt=""></span>
						<span class="price">630</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Thai roasted chili garlic fish </a></h5>
						<p>Crispy fillet snapper with holy basil & dehydrated orange.</p></span>
						<span class="tag"><img src="<?php echo base_url();?>public/assets/img/tag1.png" alt=""></span>
						<span class="price">594</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href=""> Classic La-Zi-Ji </a></h5>
						<p>Soy flavoured wok-fried chicken, Sichuan peppercorn, dry red chili & scallion.</p></span>
						<span class="tag"><img src="<?php echo base_url();?>public/assets/img/tag1.png" alt=""></span>
						<span class="price">510</span>
					</li>
					
					
				</ul>
				
				
				<div class="headline">
					<div class="line_up">&nbsp;</div>
				<h4>KEBABS</h4>
				<div class="line_down">&nbsp;</div>
				</div>
				
				<ul class="menu_list">
					<li>
						<span class="name_txt"><h5><a href="">Clay oven baked Fish  </a></h5>
						<p>Kolkata bekti, mustard marinade, lebneh topped with stewed kumquats, mint & lime gel.</p></span>
						<span class="tag"><img src="<?php echo base_url();?>public/assets/img/tag1.png" alt=""></span>
						<span class="price">594</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Oregano chicken tikka </a></h5>
						<p>Oven cooked chicken morsels with cream, cheese & oregano, homemade green apple chutney.</p></span>
						<span class="tag"><img src="<?php echo base_url();?>public/assets/img/tag1.png" alt=""></span>
						<span class="price">594</span>
					</li>
					
				</ul>
				
				<div class="headline">
					<div class="line_up">&nbsp;</div>
				<h4>SOUPS</h4>
				<div class="line_down">&nbsp;</div>
				</div>
				
				<ul class="menu_list">
					<li>
						<span class="name_txt"><h5><a href=""> Traditional tom yum soup </a></h5>
						<p>Thai soup that is sour, spicy, savory and incredibly aromatic.
This version here is a clear soup.</p></span>
						<span class="tag"><img src="<?php echo base_url();?>public/assets/img/tag1.png" alt=""></span>
						<span class="price">300</span>
					</li>
					
					
				</ul>
				
				<div class="headline">
					<div class="line_up">&nbsp;</div>
				<h4>DIM SUM</h4>
				<div class="line_down">&nbsp;</div>
				</div>
				
				<ul class="menu_list">
					<li>
						<span class="name_txt"><h5><a href=""> Spicy chicken gyoza with chives & burnt garlic </a></h5>
						<p>Pan fried pot sticker, filled with marinated chicken & sticky gyoza dressing.</p></span>
						<span class="tag"><img src="<?php echo base_url();?>public/assets/img/tag1.png" alt=""></span>
						<span class="price">474</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Fresh tiger prawn hargow with butter chili garlic - Signature </a></h5>
						<p>Steamed crystal prawn dumpling, bed of butter chili garlic & green curry foam.</p></span>
						<span class="tag"><img src="<?php echo base_url();?>public/assets/img/tag1.png" alt=""></span>
						<span class="price">510</span>
					</li>
					
				</ul>
				
				<div class="headline">
					<div class="line_up">&nbsp;</div>
				<h4>BAO’S</h4>
				<div class="line_down">&nbsp;</div>
				</div>
				
				<ul class="menu_list">
					<li>
						<span class="name_txt"><h5><a href=""> Japanese style grilled chicken teriyaki bao </a></h5>
						<p>l grilled chicken layered with pickled cucumber, fresh lettuce, wasabi kimchi garlic mayo,
nestled between two halves of a pillows steamed bun.</p></span>
						<span class="tag"><img src="<?php echo base_url();?>public/assets/img/tag1.png" alt=""></span>
						<span class="price">450</span>
					</li>
					
					
				</ul>
				
				
				
				<div class="headline">
					<div class="line_up">&nbsp;</div>
				<h4>SHARING PLATTERS</h4>
				<div class="line_down">&nbsp;</div>
				</div>
				
				<ul class="menu_list">
					<li>
						<span class="name_txt"><h5><a href=""> The Chick flick - Sharing platter / Signature </a></h5>
						<p>Balinese chicken popsicles, chicken pop corn, Moroccan skewers, and chimichurri chicken wings.</p></span>
						<span class="tag"><img src="<?php echo base_url();?>public/assets/img/tag1.png" alt=""></span>
						<span class="price">630</span>
					</li>
					
					
				</ul>
				
				
				
				<div class="headline">
					<div class="line_up">&nbsp;</div>
				<h4>WHOLESOME BOWL’S</h4>
				<div class="line_down">&nbsp;</div>
				</div>
				
				<ul class="menu_list">
					<li>
						<span class="name_txt"><h5><a href=""> Kao pad kra pow </a></h5>
						<p>Short grain egg fried rice with fiery minced basil chicken, sunny side up egg & togarashi powder.</p></span>
						<span class="tag"><img src="<?php echo base_url();?>public/assets/img/tag1.png" alt=""></span>
						<span class="price">714</span>
					</li>
					<li class="for_three">
						<span class="name_txt"><h5><a href="">Burmese khow suey  </a></h5>
						<p>Burmese coconut curried flavored noodles soup bowl<br>

with a variety of condiments.</p></span>
						<span class="three_co for_tow">
							<!--<span class="tag_veg top_velu"><img src="assets/img/tag.png" alt=""></span>-->
						<span class="tag_non top_velu"><img src="<?php echo base_url();?>public/assets/img/tag1.png" alt=""></span>
						
						<span class="price_chick"> <span>CHICKEN |</span> 294</span>
						<span class="price_seaf"> <span>SEAFOOD</span> 342</span>
						</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href=""> Malay style lamb shank with canai  </a></h5>
						<p>Zesty & creamy baby lamb shank cooked with flavours spiced,
Thai herbs & served with Malaysian flatbread.</p></span>
						<span class="tag"><img src="<?php echo base_url();?>public/assets/img/tag1.png" alt=""></span>
						<span class="price">650</span>
					</li>
				</ul>
				
				
				
				<div class="headline">
					<div class="line_up">&nbsp;</div>
				<h4>FROM THE WOOD FIRE OVEN</h4>
				<div class="line_down">&nbsp;</div>
				</div>
				
				<ul class="menu_list">
					<li>
						<span class="name_txt"><h5><a href="">GOURMET PIZZAS </a></h5>
						<p>(We use only organic flour in our handmade thin crust pizza)</p></span>
						
						<span class="price"></span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Straccetti </a></h5>
						<p>Tomato sauce, Mozzarella, balsamic chicken, capers & rocket.</p></span>
						<span class="tag"><img src="<?php echo base_url();?>public/assets/img/tag1.png" alt=""></span>
						<span class="price">558</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Bombay chow patty keema fry pizza </a></h5>
						<p>Desi lamb crumble, egg bhurji, onion & gun powder.</p></span>
						<span class="tag"><img src="<?php echo base_url();?>public/assets/img/tag1.png" alt=""></span>
						<span class="price">558</span>
					</li>
					
				</ul>
				
				
				
				<div class="headline">
					<div class="line_up">&nbsp;</div>
				<h4>PASTA & RISOTTO</h4>
				<div class="line_down">&nbsp;</div>
				</div>
				
				<ul class="menu_list">
					<li>
						<span class="name_txt"><h5><a href=""> Spaghetti chicken Parmigiano </a></h5>
						<p>Spaghetti Alfredo, asparagus, broccoli & roasted chicken.</p></span>
						<span class="tag"><img src="<?php echo base_url();?>public/assets/img/tag1.png" alt=""></span>
						<span class="price">582</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Paprika chicken risotto </a></h5>
						<p>Risotto cooked in chicken broth & smoked chili dusted juicy chicken.</p></span>
						<span class="tag"><img src="<?php echo base_url();?>public/assets/img/tag1.png" alt=""></span>
						<span class="price">582</span>
					</li>
					
					
				</ul>
				
				<div class="headline">
					<div class="line_up">&nbsp;</div>
				<h4>FROM THE ASIAN KITCHEN</h4>
				<div class="line_down">&nbsp;</div>
				</div>
				
				<ul class="menu_list">
					<li>
						<span class="name_txt"><h5><a href="">Mains </a></h5>
						<p></p></span>
						
						<span class="price"></span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Double cooked chicken with dry chili & shitake </a></h5>
						<p>Chicken toasted with chef's special spiced seasoning, coriander root & spring onion.</p></span>
						<span class="tag"><img src="<?php echo base_url();?>public/assets/img/tag1.png" alt=""></span>
						<span class="price">595</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Stir fry tiger prawn with xo and scallion </a></h5>
						<p></p></span>
						<span class="tag"><img src="<?php echo base_url();?>public/assets/img/tag1.png" alt=""></span>
						<span class="price">798</span>
					</li>
					<li class="for_three">
						<span class="name_txt"><h5><a href="">Staples </a></h5>
						<p></p></span>
						<span class="three_co for_tow">
						<span class="price_chick"> <span>CHICKEN |</span></span>
						<span class="price_seaf"> <span>SEAFOOD</span></span>
						</span>
					</li>
					
					<li>
						<span class="name_txt"><h5><a href="">Steams (White rice) </a></h5>
						<p></p></span>
						
						<span class="price">270</span>
					</li>
					<li class="for_three">
						<span class="name_txt"><h5><a href="">Edamame garlic butter fried rice </a></h5>
						<p>Garlic fried rice, edamame & fried scallion</p></span>
						<span class="three_co">
							
						<span class="tag_non top_velu"><img src="<?php echo base_url();?>public/assets/img/tag1.png" alt=""></span>
						
						<span class="price_chick"> 294</span>
						<span class="price_seaf"> 342</span>
						</span>
					</li>
					<li class="for_three">
						<span class="name_txt"><h5><a href="">Classic Xo fried rice   </a></h5>
						<p>Pan fried short grain rice with xo sauce, spring onion,<br>

dehydrated spinach.</p></span>
						<span class="three_co">
							
						<span class="tag_non top_velu"><img src="<?php echo base_url();?>public/assets/img/tag1.png" alt=""></span>
						
						<span class="price_chick"> 375</span>
						<span class="price_seaf"> 425</span>
						</span>
					</li>
					<li class="for_three">
						<span class="name_txt"><h5><a href="">Stir fried prosperity noodles  </a></h5>
						<p>Wok tossed fresh noodles with bean sprout & spring onion.<br>

dehydrated spinach.</p></span>
						<span class="three_co">
							
						<span class="tag_non top_velu"><img src="<?php echo base_url();?>public/assets/img/tag1.png" alt=""></span>
						
						<span class="price_chick"> 294</span>
						<span class="price_seaf"> 342</span>
						</span>
					</li>
					<li class="for_three">
						<span class="name_txt"><h5><a href="">Flavoured soba noodles with sesame<br>

and beansprout</a></h5>
						<p>Stir fried buckwheat noodles with soya, flavouring<br>

seasoning & sesame seed.<br>

dehydrated spinach.</p></span>
						<span class="three_co">
							
						<span class="tag_non top_velu"><img src="<?php echo base_url();?>public/assets/img/tag1.png" alt=""></span>
						
						<span class="price_chick"> 318</span>
						<span class="price_seaf"> 354</span>
						</span>
					</li>
					
					
				</ul>
				
				<div class="headline">
					<div class="line_up">&nbsp;</div>
				<h4>TASTE OF INDIA – FROM THE INDIAN KITCHEN</h4>
				<div class="line_down">&nbsp;</div>
				</div>
				
				<ul class="menu_list">
					<li>
						<span class="name_txt"><h5><a href="">Murgh Tikka butter masala  </a></h5>
						<p>Tandoor smoked chicken morsels, cooked in buttery tomato fenugreek masala.</p></span>
						<span class="tag"><img src="<?php echo base_url();?>public/assets/img/tag1.png" alt=""></span>
						<span class="price">690</span>
					</li>
					
				</ul>
				
				
				
				<div class="headline">
					<div class="line_up">&nbsp;</div>
				<h4>FENICIA GOURMET TASTING DESSERTS</h4>
				<div class="line_down">&nbsp;</div>
				</div>
				
				<ul class="menu_list">
					<li>
						<span class="name_txt"><h5><a href="">Chocolate fantasy - Signature  </a></h5>
						<p>Gooey chocolate catramel mud cake, Sinful chocolate mousse, Nutella cream, Chocolate macaroon,
Crunchy chocolate soil, Truffle kiss, Raspberry sauce, Chocolate ice-cream.</p></span>
						<span class="tag"><img src="<?php echo base_url();?>public/assets/img/tag1.png" alt=""></span>
						<span class="price">450</span>
					</li>
					
					
				</ul>
				
				
				
				
				
				
				
				
			</div>
			
		</div>
	</div>

<!-- Bootstrap core JavaScript --> 
<script src="<?php echo base_url();?>public/assets/js/jquery.1.11.3.min.js"></script> 
<script src="<?php echo base_url();?>public/assets/js/bootstrap.min.js"></script> 
<script src="<?php echo base_url();?>public/assets/js/theme.js"></script> 
</body>
</html>
