<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="<?php echo base_url();?>public/assets/img/favicon.ico">
<title>Finicia Menu</title>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">

<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css" href="<?php echo base_url();?>public/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="<?php echo base_url();?>public/assets/css/theme.css">
</head>

<body role="document">

<!--Header Top Start-->
<div class="col-md-6 col-md-offset-3">
  <div class="menu_area2">
    <div class="headline1">
      <h4>F E N I C I A N O N A L C O H O L I C M E N U</h4>
    </div>
    <div class="menu_sec">
    	<div class="sub_head"><h4>VEGAN DETOX SMOOTHIE</h4></div>
    	<ul class="menu_list">
					
					<li>
						<span class="name_txt"><h5><a href=""> </a></h5>
						<p></p></span>
						
						<span class="price">PRICE</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Iron Breakfast Smoothie </a></h5>
						<p>Cold press Apple Juice cold press spinach juice banana and lime honey water and coconut water and ice.</p></span>
						
						<span class="price">258.00</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Three Fruit Smoothie  </a></h5>
						<p>Cold Press Pineapple juice cold press orange juice and banana and ice.</p></span>
						
						<span class="price">258.00</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Morning Glow Smoothie </a></h5>
						<p>Cold press Pineapple juice cold press carrot juice ripe banana.</p></span>
						
						<span class="price">258.00</span>
					</li>
					
					<li>
						<span class="name_txt"><h5><a href=""> Purple Shine Smoothie</a></h5>
						<p>Cold press beetroot juice ripe banana cold press apple juice and basil.</p></span>
						
						<span class="price">258.00</span>
					</li>
					
					<li>
						<span class="name_txt"><h5><a href="">Shining Star Smoothie  </a></h5>
						<p>Mango Star anise water ripe banana dash of cold press ginger juice.</p></span>
						
						<span class="price">258.00</span>
					</li>
					
	  </ul>
    	<div class="sub_head"><h4>HEALTHY FRESH JUICES MIXOLOGY</h4></div>
    	<ul class="menu_list">
					
					
					<li>
						<span class="name_txt"><h5><a href=""> Red Detox</a></h5>
						<p>Cold press beetroot juice and green apple juicewith fresh basil.</p></span>
						
						<span class="price">270.00</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Cool Refresher  </a></h5>
						<p>Cold press cucumber, apple, basil mint and lime.</p></span>
						
						<span class="price">270.00</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href=""> Tangy Red Floral </a></h5>
						<p>Brewed Egyptian hibiscus with vanilla pods and brown sugar with cold press apple juice and beetroot juice.</p></span>
						
						<span class="price">270.00</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Spicy Melon Ball </a></h5>
						<p>Cold press watermelon juice with star anise water with raw brown sugar.</p></span>
						
						<span class="price"> 270.00</span>
					</li>
	  </ul>
    	<div class="sub_head"><h4>HOMEMADE REFRESHERS</h4></div>
    	<ul class="menu_list">
					
					
					<li>
						<span class="name_txt"><h5><a href="">Beach Fruit Lemonade  </a></h5>
						<p>Home made Salted kokum and curry leaf syrup with lime topped with lemonade.</p></span>
						
						<span class="price">270.00</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Spiced Coffee Lemonade  </a></h5>
						<p>Homemade south Indian Coffee with star anise dry ginger syrup with lime juice and topped with lemonade.</p></span>
						
						<span class="price">270.00</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Yellow Jar Lemonade  </a></h5>
						<p>Homemade ginger and saffron with lime juice and topped with lemonade.</p></span>
						
						<span class="price">270.00</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Pineapple n Clove Lemonade  </a></h5>
						<p>Home made pineapple and clove syrup with lime juice and ice topped with lemonade.</p></span>
						
						<span class="price">270.00</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href=""> Ginger n Mint Lemonade </a></h5>
						<p>Ginger juice with fresh mint and lime topped with lemonade.</p></span>
						
						<span class="price">270.00</span>
					</li>
					
	  </ul>
    	<div class="sub_head"><h4>ICE TEAS</h4></div>
    	<ul class="menu_list">
					
					
					<li>
						<span class="name_txt"><h5><a href=""> </a></h5>
						<p></p></span>
						
						<span class="price">PRICE</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href=""><strong>Flavors</strong> : Classic / Basil / Hibiscus / Watermelon / Indian Masala  </a></h5>
						<p></p></span>
						
						<span class="price">234.00</span>
					</li>
	  </ul>
    	<div class="sub_head"><h4>SHAKES</h4></div>
    	<ul class="menu_list">
					
					<li>
						<span class="name_txt"><h5><a href=""> </a></h5>
						<p></p></span>
						
						<span class="price">PRICE</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Strawberry Coconut  </a></h5>
						<p></p></span>
						
						<span class="price">222.00</span>
					</li>
					
					<li>
						<span class="name_txt"><h5><a href="">Butter Scotch Chocolate  </a></h5>
						<p></p></span>
						
						<span class="price">222.00</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href=""> Hazelnut Vanilla </a></h5>
						<p></p></span>
						
						<span class="price">222.00</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Banana and Oreo  </a></h5>
						<p></p></span>
						
						<span class="price">222.00</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Banana Caramel  </a></h5>
						<p></p></span>
						
						<span class="price">222.00</span>
					</li>
					
	  </ul>
    	<div class="sub_head"><h4>COLD COFFEE</h4></div>
    	<ul class="menu_list">
					
					
					<li>
						<span class="name_txt"><h5><a href=""> </a></h5>
						<p></p></span>
						
						<span class="price">PRICE</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href=""><strong>Flavors</strong> : Vanilla / Cinnamon / Butter Scotch / Hazelnut  </a></h5>
						<p></p></span>
						
						<span class="price">222.00</span>
					</li>
					
	  </ul>
   	
   	
   	
   	
    	<div class="sub_head"><h4>SOFT BEVERAGES ENERGY DRINK</h4></div>
    	<ul class="menu_list">
					
					
					<li>
						<span class="name_txt"><h5><a href=""> </a></h5>
						<p></p></span>
						
						<span class="price">PRICE</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Red Bull  </a></h5>
						<p></p></span>
						
						<span class="price">330.00</span>
					</li>
	  </ul>
   	
    	<div class="sub_head"><h4>TONIC WATER / SEPOY TONIC WATER</h4></div>
    	<ul class="menu_list">
					
					
					<li>
						<span class="name_txt"><h5><a href=""> </a></h5>
						<p></p></span>
						
						<span class="price">PRICE</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Flavors : Mint / Grapefruit / Indian Tonic </a></h5>
						<p></p></span>
						
						<span class="price"> 222.00</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Schweppes Tonic Water  </a></h5>
						<p></p></span>
						
						<span class="price">222.00</span>
					</li>
					
	  </ul>
   	
    	<div class="sub_head"><h4>COLD PRESS JUICES</h4></div>
    	<ul class="menu_list">
					
					
					<li>
						<span class="name_txt"><h5><a href=""> </a></h5>
						<p></p></span>
						
						<span class="price">PRICE</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Pineapple  </a></h5>
						<p></p></span>
						
						<span class="price">222.00</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href=""> Orange </a></h5>
						<p></p></span>
						
						<span class="price">222.00</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href=""> Watermelon </a></h5>
						<p></p></span>
						
						<span class="price">186.00</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href=""> Apple  </a></h5>
						<p></p></span>
						
						<span class="price">222.00</span>
					</li>
	  </ul>
    	<div class="sub_head"><h4>AERATED BEVERAGES</h4></div>
    	<ul class="menu_list">
					
					
					<li>
						<span class="name_txt"><h5><a href=""> </a></h5>
						<p></p></span>
						
						<span class="price">PRICE</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Diet Coke </a></h5>
						<p></p></span>
						
						<span class="price"> 210.00</span>
					</li>
	  </ul>
    	<div class="sub_head"><h4>FRESHLIME</h4></div>
    	<ul class="menu_list">
					
					
					<li>
						<span class="name_txt"><h5><a href=""> </a></h5>
						<p></p></span>
						
						<span class="price">PRICE</span>
					</li>
					<li>
						<span class="name_txt"><h5><a href="">Soda / Water  </a></h5>
						<p></p></span>
						
						<span class="price">186.00</span>
					</li>
	  </ul>
    </div>
	  
	   
    
  </div>
</div>

<!-- Bootstrap core JavaScript --> 
<script src="<?php echo base_url();?>public/assets/js/jquery.1.11.3.min.js"></script> 
<script src="<?php echo base_url();?>public/assets/js/bootstrap.min.js"></script> 
<script src="<?php echo base_url();?>public/assets/js/theme.js"></script>
</body>
</html>
