@media screen and (min-width: 992px) and (max-width: 1199px) { 
	.login_sec{width: 20%;}
	#main-nav.stellarnav{width: 75%;}
	.banner_text_content{max-width: 650px;}
	.banner_text_content h1{font-size: 45px;}
	.banner_text_content h3{font-size: 26px;}
	.banner_text_content a{font-size: 15px;padding: 10px 25px;}
	.cleint_says{padding: 30px;height: auto;}
	.test_heading{margin: 0 0 30px 0;}
	#quote-carousel .carousel-indicators{bottom: -60px;}
	#signUp.modal{padding: 0 15px !important;}
	/********/
	.stutor_btn_area {position: relative;right: 0; bottom: 0;padding: 10px 0 0 0;}
}

@media screen and (min-width: 768px) and (max-width: 991px) { 
	header{position: relative;background: #020d17; padding: 20px 0;height: auto;}
	.fixed-header{display: none !important;-webkit-animation:inherit !important;}
	.logo{margin: 0 auto 10px auto;}
	.login_sec{width: 20%;}
	#main-nav.stellarnav{width: 75%;}
	.banner_text_content{max-width: 500px;top: 20%;}
	.banner_text_content h1{font-size: 36px;}
	.banner_text_content h3{font-size: 20px;}
	.banner_text_content a{font-size: 16px;padding: 8px 15px;height: 62px;}
	.banner_text_content select{height: 62px;}
	.no_pad{padding-left: 15px;padding-right: 15px;}
	.testimonials{padding: 20px 0 70px 0;}
	#quote-carousel .carousel-indicators{bottom: -60px;}
	.cleint_says{padding: 60px 0 0 0;height: auto;}
	.test_heading{max-width: inherit;}
	#quote-carousel{max-width: inherit;}
	.boxcontent{border: 1px solid #e4e4e4;margin-bottom: 30px;}
	#signUp.modal{padding: 0 15px !important;}
	/******/
	.page_inner {margin: 50px 0 0 0;padding: 0 0 30px 0;}
	.another_login a{font-size: 13px;		margin: 0 15px 15px 0;}
	.signup_right {padding: 0 15px 0 15px;}
	.ft_header h2{font-size: 23px;}
	.stutor_btn_area {position: relative;right: 0;bottom: 0;padding: 10px 0 0 0;}
	.signup_left{padding: 0 15px;}
	.page_inner_two{margin-top: 0;}
	.sidebar{width: 35%;}
	.main{width: 65%;}
	.ad_holder{margin-bottom: 15px;}
}
@media screen and (min-width: 320px) and (max-width: 767px) { 
	header{position: relative;background: #020d17; padding: 20px 0;height: auto;}
	.fixed-header{display: none !important;-webkit-animation:inherit !important;}
	.logo{margin: 0 auto;}
	#main-nav.stellarnav{float: none; width: 100%;}
	.login_sec {float: none;width: 100%;padding: 10px 0;text-align: center;}
	.login_sec ul li{float: none;display: inline-block;}
	.login_sec ul li:last-child{padding-right: 15px;}
	.stellarnav .full {background: rgba(255,165,65,0.6);text-align: center;color: #fff !important;}
	#main-nav.stellarnav ul {text-align: left;}
	#main-nav.stellarnav ul li a{padding: 15px;line-height: inherit;}
	#main-nav.stellarnav.light ul ul li a{padding: 15px;line-height: inherit;}
	.stellarnav.mobile.light ul{background:#717171;;}
	.home_banner {padding: 20px 0;min-height: auto;}
	.banner_girl{display: none;}
	.banner_text_content{position: relative;right: 0;}
	.banner_text_content h1{font-size: 36px;}
	.banner_text_content h3{font-size: 20px;}
	.banner_text_content a{float: none;width: 100%;height: auto;margin-bottom: 10px;}
	.banner_text_content select{width: 100%; float: none;}
	.section_heading h2{font-size: 30px;}
	.no_pad{padding-left: 15px;padding-right: 15px;}
	.testimonials{padding: 20px 0 70px 0;}
	#quote-carousel .carousel-indicators{bottom: -60px;}
	.cleint_says{padding: 60px 0 0 0;height: auto;}
	.test_heading{max-width: inherit;}
	#quote-carousel{max-width: inherit;}
	.boxcontent{border: 1px solid #e4e4e4;margin-bottom: 30px;}
	.ft_nav{margin-bottom: 30px;}
	#signUp.modal{padding: 0 15px !important;}
	#signUp .modal-dialog .modal-content .modal-body{padding: 70px 20px;}
	/********/
	.page_inner {margin: 50px 0 0 0;padding: 0 0 30px 0;}
	.another_login a{font-size: 13px;width: 60%;margin: 0 0 15px 0;}
	.signup_right {padding: 0 15px 0 15px;}
	/*.tab_heading h3{font-size: 23px;}*/
	.apply_btn{margin: 10px 0 25px 0;}
	.tutor_registration .button_area {padding-top: 20px;}
	/*.details_dv{padding: 20px 0 0 0;}*/
	.stutor_btn_area {position: relative;right: 0;bottom: 0;}
	.stutor_left {width: 100%;position: relative;text-align: left;}
	.stutor_img{margin-right: 0;text-align: center;}
	.stutor_img img{text-align: center;display: inline;}
	.stutor_content {width: 100%;}
	.stutor_btn_area{padding: 10px 0;}
	.stutor_content .stutor_btn_area a{font-size: 14px;margin: 0 0 10px 0;}
	.stutor_content h4 {margin: 0 0 14px 0;padding: 10px 0;line-height: 30px;}
	.signup_left{padding: 0 15px;}
	.page_inner_two{margin-top: 0;}
	.main{padding: 1.5em 0;}
	.tg_avat{width: 100%;}
	.tg_text{width: 100%;padding: 10px 0 0 0;}
	.tg_text div > button {margin-bottom: 5px;}
	.choose_option {margin-top: 30px;}
	.tab_heading h3{margin:0 0 20px 0;}
	.choose_option .width_student {width: 100%;margin-right: 0;}
	.tg_profdet{float: none; width: 100%;}
	.tg_video{float: none; width: 100%;padding: 20px 0 0 0;}
	.tg_jobhead{padding: 0;}
	.tg-skillsrequired li a{line-height: 18px; display: block;}
	.ad_holder{margin-bottom: 15px;}
	.newPost{padding: 0; min-width: inherit;}
}

@media screen and (max-width: 480px) { 
	.mobile_res{width: 100%;}
	.news_img{float: none; width: 100%;}
	.news_img img{width: 100%;}
	.news_content{float: none; width: 100%;}
	.news_post_content h2{margin-top: 0;}
	/********/
	.page_inner {margin: 50px 0 0 0;padding: 0 0 30px 0;}
	.another_login a{font-size: 13px;width: 60%;margin: 0 0 15px 0;}
	.proceed_btn{width: 100%;}
}


/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    background:#ecf0f1;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -40%;
  }

  .row-offcanvas-left.active {
    left: 40%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 40%;
    margin-left: 12px;
  }
}