@media only screen and (min-width:200px) and (max-width:767px) {
.bodylayer { position: inherit;left: inherit;top: inherit;}
.body_navigation {width: 100%;margin: 0;position: inherit;right: inherit;top: inherit;}
a.menu-toggle {color: #fff !important;}
.top_logo {width: auto;position: inherit;left: inherit;top: inherit;}
.logo, .logowrap {width:100%;}
.nav_plates {width:100%;}
.header_navigation_inner {width:100%;}
.stellarnav {width:100%!important;}
.top_social {width:100%;margin-top: 15px;}
.hamburger {top: 15px;}
.main_header {padding: 15px 0;position: inherit;left: inherit;top: inherit;z-index: inherit;background: #000;}
.home .stellarnav ul li a, .inner_page .stellarnav ul li a {color:#000!important;padding: 10px 10px!important;}
.loader {background-size: contain;}   .nav_plates_inner span {
width: auto;
height: auto;
transform: rotate(-90deg) !important;
display: block;
}
.contact_page span.tel {width: 184px;}
.logo a {height:265px;}
.nav_plates_inner b.current font {margin-top: 20px;}
.expand_info p {padding: 0 12px;font-size: 13px;line-height: 19px;}
.nav_plates_inner b.current:last-child span {left: 0;}
.footer {width: 100%;position: inherit;bottom: inherit;left: inherit;background: #000;text-align: center;padding: 20px 0;display: inline-block;}
.stellarnav ul li a {border-right: none;padding: 10px 0!important;}
a.menu-toggle {padding: 0!important;}
.stellarnav.mobile.light > ul {border-top: none!important;}
.forgap2, .forgap1, .forgap3 {padding: 0;}
.top_reserv {top: inherit;position: inherit;right: inherit;background: #f9b92d;display: inline-block;margin: 15px 0;}
.page_left_menu_listing ul li {padding: 12px 0 12px 18px;}
.mobilefooter {display: block;padding: 15px;}
.mobiledisplaynone {display: none;}
.reservation_left {border:none;padding: 0;}
#site-menu {width:100%;}
a#navt {display: none;}
.nav_plates_inner {width:100%;}
.nav_plates_inner b.current span {width:100%;}
.input_seprt_left {width: 80px;}
.reservation_right {margin-top: 20px;}
.input_seprt_right {width: 100%;}
.styled-select select {font-size: 12px;padding: 0 0 0 4px;}
.mobilefooter {
display: block;
padding: 15px;
}
.contact_submit {
width: 100%;
float: right;
margin-top: 20px;
}
.contact_check .wpcf7-form-control-wrap .wpcf7-list-item-label{
position: relative;
top: -3px;
}
.styled-select {
overflow: visible; 
margin: 0 0 20px;
}
.form_box {
margin: 0 0 20px;
}
.wow{
animation-name: none !important;
visibility: visible !important;
}
.top_logo img {margin: 0 auto;display: block;}
.n2-ss-layer.n2-ow {width: 290px!important;}
.n2-ss-item-content a {font-size: 32px!important;}
.n2-ss-item-content p {font-size: 22px!important;}
}
@media only screen and (min-width:320px) and (max-width:479px) {
}
@media only screen and (min-width:480px) and (max-width:767px) {
}
@media only screen and (min-width:768px) and (max-width:991px) {
.bodylayer { position: inherit;left: inherit;top: inherit;}
.body_navigation {width: 100%;margin: 0;position: inherit;right: inherit;top: inherit;}
.logo, .logowrap {width:100%;}
.nav_plates {width:100%;}
.header_navigation_inner {width:100%;}
.stellarnav ul {text-align: center !important;}
.stellarnav {width:100%!important;}
.top_social {width:100%;margin-top: 15px;}
.hamburger {top: 15px;}
.main_header {padding: 50px 0 15px;}
.footer {width: 100%;position: inherit;bottom: inherit;left: inherit;background: #000;text-align: center;padding: 20px 0;display: inline-block;}
.forgap2, .forgap1, .forgap3 {padding: 0;}
.top_reserv {top: -37px;}
#site-menu {width:100%;}
.nav_plates a {width:16.66%;}
.nav_plates_inner {width:100%;}
.nav_plates_inner a.current span {width:100%;}
a#navt {display: none;}
.input_seprt_right {width: 185px; float: right;}
.mobilefooter {
display: block;
padding: 15px;
}
.mobiledisplaynone{
display: none;
}
.contact_page span.tel {width: 622px;}
}
@media (min-width:992px) and (max-width:1199px) {
.top_social {margin-right: 19px;}
.body_navigation {width: 768px;margin: -151px 0 0;}
.logo a {height: 347px;}
.nav_plates {width: 444px;}
.nav_plates_inner span {height: 346px;}
.nav_plates_inner span {font-size: 13px;}
.nav_plates_inner a.current span {width: 170px;}
.expand_info p {padding: 0 9px;line-height: 17px;}
.page_middle_info {height: 400px;}
.page_right {height: 529px;}
.main_header {padding: 9px 0;}
.input_seprt_right {width: 253px;}
.contact_page span.tel {width: 280px;}
}
@media (min-width:1200px) and (max-width:1348px) {
.contact_page span.tel {width: 142px;}
.input_seprt_right {width: 337px;}
}